.storeLocator{
    display: flex;
    width: 100%;
    margin-top: 30px;
    min-height: 600px;
}

.banner{
    min-height: 333px;
    display: flex;
}
.banner img{
    width: 100%;
    height: auto;
}
.bannerLeft{
    width: 50%;
    display: flex;
    /* justify-content: center; */
    align-items: flex-start;
    flex-direction: column;
    background-repeat: no-repeat;
    padding-left: 85px;
    padding-top: 100px;
    text-align: left;
    
}

.bannerLeft .title{
    font-size: 40px;
}
.bannerLeft .subTitle{
    width: 306px;
    margin-top: 3px;
}
.bannerRight{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 80px;
    padding-bottom: 45px;
}
.bannerRight img{
    width: 285px;
    height: 224px;
}
.store{
    width: 35%;
    height: auto;
    background-color: #E7E7E7;
    position: relative;
    padding: 10px;
}
.search {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
}
.search svg {
    fill: #E7E7E7;
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
}
.search .icon{
    display: inline;
    /* position: relative; */
    top: 33px;
    padding: 0 30px;
}
.search .iconLeft{
    position: relative;
    top: 10px;
    left: 20px;
z-index: 1;
}
.search .iconRight{
    position: relative;
    top: 10px;
    right: 20px;

}
.search .icon .iconRight svg {
    margin-right: 20px;

}
button img {
    cursor: pointer;
}

.search input{
    width: 100%;
    height: 40px;
    border: 1px solid #E7E7E7;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 66px;
}
.storeLocal{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    position: relative; 
    margin: 17px auto;
    max-width: 80%;
    border-radius: 4px;
    position: relative;
    min-height: 500px;
}

.storeLocal .listStore{
    width: 100%;
    overflow-y: scroll;
    max-height: 500px;
    
}
.noResuilt{
    z-index: 5;
}
.storeLocal .listStore li{
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    background-color: white;
    
}
.storeLocal .storeDetails{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: white;
    padding: 10px;
    overflow-y: scroll;
    
}

.storeLocal .storeDetails h2{
    font-size: 20px;
    font-weight: 900;
}

.storeLocal .storeDetails p,h2 {
    margin-bottom: 20px;
}
.storeLocal .storeDetails p{
    display: flex;
    align-items: center;
}
.store .storeDetails .btnBack{
    cursor: pointer;
}
.store .storeDetails .getDirection{

}
.store .storeDetails .getDirection svg{
    min-width: 4em;
    min-height: 4em;
    margin-right: 40px;
}
.store .storeDetails .getDirection .btnGetDirection{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 26px;
}
.store .storeDetails .getDirection .listDirection{
    display: block;
}
.store .storeDetails .getDirection .noShowDirection{
    display: none;
}
.storeLocal .storeDetails p svg {
    width: 1.5em;
    height: 1.5em;
    opacity: 0.5;
    margin-right: 10px;
    /* cursor: pointer; */
}
.storeLocal .storeDetails p .iconDoubleDown{
    width: 0.6em;
    height: 0.6em;
    margin-right: 0;
    margin-left: 3px;
    opacity: 1;
    cursor: pointer;
}
.storeLocal .storeDetails img {
    width: 100%;

}
.store .storeDetails p{
    font-size: 13px;
}
.store .storeDetails .phoneTwo{
    margin-left: 24px;
}
.storeLocal .listStore li{
    list-style: none;
}
.storeLocal .storeItem{
    display: flex;
    min-height: 200px;
    justify-content: center;
    /* align-items: center; */
}
.storeLocal .listStore li:active{
    border: 1px solid tomato;
}
.storeLocal .storeItem .storeItemImg{
    width: 50%;
    padding-right: 20px;
}
.storeLocal .storeItemInfo{
    width: 50%;
    

}
.storeLocal .storeItemInfo h3{
    font-weight: 600;
    font-size: 16px;
}
.storeLocal .storeItemInfo *{
    margin: 10px 0;
}
.storeLocal .storeItem .storeItemImg img{
    width: 100%;
}
.showDetails{
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.toggleLeft{
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    border: 1px solid black;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: auto;
    padding-top: 20px;
    
}

.toggleLeft:active{
    transition: width 2s;

}
.toggleLeft span{
    position: relative;
    top: 5px;
    right: 5px;
    cursor: pointer;
}
.toggleLeft select{
    width: 200px;
    
}
.map{
    width: 65%;
}
.slideImages{
    margin-top: 20px;
}
.timeInWeeks {
    display: flex;
    justify-content: space-around;
}
.timeInWeeks .timeToday{
    font-weight: 600;
}
@media (max-width:1024px){
    .banner{
        min-height: 310px;

    }
    .banner .bannerLeft{

    }
    .bannerLeft .title{
        margin-bottom: 30px;
    }
    .bannerRight{
        padding-top: 57px;
        padding-right: 61px;
    }
    .banner .bannerRight img{
        width: 260px;
        height: auto;
    }

}
@media(max-width:768px){
    .storeLocator{
        flex-direction: column-reverse;
    }
    .storeLocator .store{
        width: 100%;
    }
    .storeLocator .map{
        width: 100%;
        height: 600px;
    }
    .banner .bannerLeft{

    }
    .banner .bannerRight{
        padding-top: 46px;
        padding-right: 51px;

    }
    .banner .bannerRight img{
        width: 200px;
    }
}
@media(max-width:414px){
    .banner{
        min-width: 160px;
    }
    .banner .bannerLeft{
        padding-left: 24px;
    }
    .banner .bannerLeft .title{
        font-size: 15px;
    }
    .banner .bannerLeft .subTitle{
        width: 180px;
    }
    .banner .bannerRight{
        padding-top: 30px;
        padding-right: 25px;

    }
    .banner .bannerRight img{
        width: 130px;
    }
}