.avaiablePickUp{
    padding: 24px;
    cursor: pointer;
    color: blue;
}
.avaiablePickUp p:hover {
    text-decoration: underline;
}
.popUpstore{
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 20;
    display: flex;

}
.popUpstore .popup{
    min-width: 400px;
    min-height: 200px;
    background-color: white;
    margin: 300px auto auto auto;
    padding: 20px;
    z-index: 21;
    overflow-y: auto;

}
.popUpstore .popup .headPopup{
    display: flex;
    justify-content: space-between;
}
.popUpstore .popup .listStorePopup li{
    margin: 15px 5px;
}
.popUpstore .popup .listStorePopup li p{
    margin: 5px 0;
}